<h1>Game of thrones</h1>
<div class ="house">
  <% @houses.each do |house| %>
 <h2><%= link_to house.name, house_path(house) %></h2>
 <img class="house-photo" src="<%= @house.img_url %>">
<% end %>
</div>
